@model List<MVCTutorials9AM.Models.StudentVM>

<p>
    @Html.ActionLink("Create New", "CreateNew")
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
           Name
        </th>
        <th>
           Email
        </th>
        <th>
           Phone
        </th>
        <th>
            Address
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Name
        </td>
        <td>
           @item.Email
        </td>
        <td>
            @item.Phone
        </td>
        <td>
            @item.Address
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
